<button (click) = "clear()" >click me</button>
<div class="chat">
  <div class="name"> {{details.email}}</div>

  <div class="signout">
    <button id="logout"class="button" (click)="signout()">
      <span class="glyphicon glyphicon-off"></span>Sign OUt
    </button>
  </div>
<br/>
  <div>
    <input type="text" id="channel1" placeholder="Enter Channel Name" [(ngModel)]='ForAdd' />
  </div>
  <br/>
  <div>
    <button id="addchannel" type="button" (click)="AddButtonClicked(ForAdd)">Add Channel</button>
  </div>

  <br/>
  <div>
    <input type="text" id="SearchChannel" placeholder="Search Channel Name" [(ngModel)]=ForSearch/>
  </div>
  <br/>
  <div>
    <button id="searchchannel" type="button" (click)="SearchButtonClicked(ForSearch)" [disabled]="!ForSearch">Search Channel</button>
  </div>
  {{MyVar}}
  <br/>

  <ul *ngFor="let channel of channelArr" (click)="AllChannel(channel)" [id]="channel">
    <li id="my">{{channel}}</li>
  </ul>
  <button id="addchannel" type="button" (click)="SubscribedChannels()">Subscribed Channels</button>
  <ul *ngFor="let channel of ChannelName" (click)="viewChannelmessage(channel)" [id]="channel">
    <li id="my">{{channel}}</li>
  </ul>
</div>
<div class="show" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  
  
  <ul >
    <li *ngFor="let messagedetail of msgArr" id="message" class="showmessage" [ngStyle]="{'float':(messagedetail.from== this.details.email)?'right':'left', 'background-color':(messagedetail.from== this.details.email)?'aliceblue':'antiquewhite' }">{{messagedetail.body}}
      <br>{{messagedetail.from}}</li>
      <br>
  </ul>
  <br>
  <div class="sendmessage">
      <input id="typemessage" type="text" placeholder="Type Message here" [(ngModel)]="Message" />
      <button id="buttonmessage"type="button" (click)="Send()">Send Message</button>
    </div>
</div>

<!-- <h1>{{msgArr}}</h1> -->